CDS.solutions/AutomotiveFlowsandCanvasApps/Extracts/Base/Workflows/Recurrence-HTTPParseJSONApplytoeachCreateanewrecor-7A71BD66-BF5F-E911-A953-000D3A3B9B3D.json
{"properties":{"connectionReferences":{"shared_dynamicscrmonline_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_dynamicscrmonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":30},"type":"Recurrence"}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://autoacceleratorfunctionapps.azurewebsites.net/api/ProspectDemo"}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"Prospect":{"type":"array","items":{"type":"object","properties":{"Id":{},"RequestDate":{"type":"string"},"Vehicle":{},"Customer":{"type":"object","properties":{"Contact":{"type":"object","properties":{"Name":{"type":"object","properties":{"Part":{"type":"string"},"Type":{"type":"string"},"Value":{"type":"string"}}},"Email":{"type":"object","properties":{"PreferredContact":{"type":"string"},"Value":{"type":"string"}}},"Phone":{"type":"array","items":{"type":"object","properties":{"Type":{"type":"string"},"TimeOfDay":{"type":"string"},"PreferredContact":{"type":"string"},"Value":{"type":"string"}},"required":["Type","TimeOfDay","PreferredContact","Value"]}},"Address":{"type":"object","properties":{"Street":{"type":"array","items":{"type":"object","properties":{"Line":{"type":"string"},"Value":{"type":"string"}},"required":["Line","Value"]}},"Apartment":{},"City":{"type":"string"},"StateOrProvince":{"type":"string"},"PostalCode":{"type":"string"},"Country":{"type":"string"},"Type":{"type":"string"}}},"PrimaryContact":{"type":"string"}}},"Id":{"type":"object","properties":{"Sequence":{"type":"string"},"Source":{"type":"string"},"Value":{"type":"string"}}},"Timeframe":{"type":"object","properties":{"Description":{"type":"string"},"EarliestDate":{"type":"string"},"LatestDate":{"type":"string"}}},"Comments":{"type":"string"}}},"Vendor":{},"Provider":{},"StatusSpecified":{"type":"boolean"}},"required":["Id","RequestDate","Vehicle","Customer","Vendor","Provider","StatusSpecified"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['Prospect']","actions":{"Switch":{"runAfter":{"Set_Name":["Succeeded"]},"cases":{"Case":{"case":"Full","actions":{"Set_First_Name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"First Name","value":"@{first(split(variables('Name'), ' '))}"}},"Set_Last_Name":{"runAfter":{"Set_First_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Last Name","value":"@{last(split(variables('Name'), ' '))}"}}}},"Case_2":{"case":"First","actions":{"Set_First_Only":{"runAfter":{},"type":"SetVariable","inputs":{"name":"First Name","value":"@variables('Name')"}}}},"Case_3":{"case":"Last","actions":{"Set_Last_Only":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Last Name","value":"@variables('Name')"}}}}},"default":{"actions":{}},"expression":"@items('Apply_to_each')?['Customer']?['Contact']?['Name']?['Part']","type":"Switch"},"Set_Name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Name","value":"@items('Apply_to_each')?['Customer']?['Contact']?['Name']?['Value']"}},"For_each_Street":{"foreach":"@items('Apply_to_each')?['Customer']?['Contact']?['Address']?['Street']","actions":{"Switch_2":{"runAfter":{"Set_Street_Line":["Succeeded"]},"cases":{"Case":{"case":1,"actions":{"Set_Street_1":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Street 1","value":"@items('For_each_Street')?['Value']"}}}},"Case_2":{"case":2,"actions":{"Set_Street_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Street 2","value":"@items('For_each_Street')?['Value']"}}}},"Case_3":{"case":3,"actions":{"Set_Street_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Street 3","value":"@items('For_each_Street')?['Value']"}}}}},"default":{"actions":{}},"expression":"@int(variables('Street Line'))","type":"Switch"},"Set_Street_Line":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Street Line","value":"@items('For_each_Street')?['Line']"}}},"runAfter":{"Switch":["Succeeded"]},"type":"Foreach"},"For_each_Phone":{"foreach":"@items('Apply_to_each')?['Customer']?['Contact']?['Phone']","actions":{"Set_Phone_Type":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Phone Type","value":"@items('For_each_Phone')?['Type']"}},"Switch_3":{"runAfter":{"Set_Phone_Type":["Succeeded"]},"cases":{"Case":{"case":"Mobile","actions":{"Set_Mobile_Phone":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Mobile Phone","value":"@items('For_each_Phone')?['Value']"}}}},"Case_2":{"case":"Work","actions":{"Set_Business_Phone":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Business Phone","value":"@items('For_each_Phone')?['Value']"}}}},"Case_3":{"case":"Home","actions":{"Set_Home_Phone":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Home Phone","value":"@items('For_each_Phone')?['Value']"}}}}},"default":{"actions":{"Set_Other_Phone":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Other Phone","value":"@items('For_each_Phone')?['Value']"}}}},"expression":"@variables('Phone Type')","type":"Switch"}},"runAfter":{"For_each_Street":["Succeeded"]},"type":"Foreach"},"Clear_Name":{"runAfter":{"Create_a_new_record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Name","value":"@{null}"}},"Clear_First_Name":{"runAfter":{"Clear_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"First Name","value":"@{null}"}},"Clear_Last_Name":{"runAfter":{"Clear_First_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Last Name","value":"@{null}"}},"Clear_Street_Line":{"runAfter":{"Clear_Last_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Street Line","value":"@{null}"}},"Clear_Street_1":{"runAfter":{"Clear_Street_Line":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Street 1","value":"@{null}"}},"Clear_Street_2":{"runAfter":{"Clear_Street_1":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Street 2","value":"@{null}"}},"Clear_Street_3":{"runAfter":{"Clear_Street_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Street 3","value":"@{null}"}},"Clear_Phone_Type":{"runAfter":{"Clear_Street_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Phone Type","value":"@{null}"}},"Clear_Mobile_Phone":{"runAfter":{"Clear_Phone_Type":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Mobile Phone","value":"@{null}"}},"Clear_Business_Phone":{"runAfter":{"Clear_Mobile_Phone":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Business Phone","value":"@{null}"}},"Clear_Home_Phone":{"runAfter":{"Clear_Business_Phone":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Home Phone","value":"@{null}"}},"Clear_Other_Phone":{"runAfter":{"Clear_Home_Phone":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Other Phone","value":"@{null}"}},"Create_a_new_record":{"runAfter":{"For_each_Phone":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"post","body":{"lastname":"@variables('Last Name')","subject":"@items('Apply_to_each')?['Customer']?['Comments']","emailaddress1":"@items('Apply_to_each')?['Customer']?['Contact']?['Email']?['Value']","firstname":"@variables('First Name')","_leadsourcecode_label":"","mobilephone":"@variables('Mobile Phone')","merged":false,"_address1_addresstypecode_label":"Default Value","_address2_addresstypecode_label":"Default Value","_budgetstatus_label":"","telephone1":"@variables('Business Phone')","address1_city":"@items('Apply_to_each')?['Customer']?['Contact']?['Address']?['City']","confirminterest":false,"address1_country":"@items('Apply_to_each')?['Customer']?['Contact']?['Address']?['Country']","_customerid_type":"","decisionmaker":false,"donotbulkemail":false,"donotemail":false,"donotfax":false,"donotpostalmail":false,"donotphone":false,"evaluatefit":false,"followemail":true,"msdyn_gdproptout":false,"telephone2":"@variables('Home Phone')","_industrycode_label":"","_initialcommunication_label":"","donotsendmm":false,"_need_label":"","telephone3":"@variables('Other Phone')","_ownerid_type":"","participatesinworkflow":false,"_preferredcontactmethodcode_label":"Any","_prioritycode_label":"Default Value","_purchaseprocess_label":"","_leadqualitycode_label":"Warm","_salesstagecode_label":"Default Value","_salesstage_label":"","address1_stateorprovince":"@items('Apply_to_each')?['Customer']?['Contact']?['Address']?['StateOrProvince']","_statuscode_label":"","address1_line1":"@variables('Street 1')","address1_line2":"@variables('Street 2')","address1_line3":"@variables('Street 3')","address1_postalcode":"@items('Apply_to_each')?['Customer']?['Contact']?['Address']?['PostalCode']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_Other_Phone":["Succeeded"]},"type":"Foreach"},"Initialize_First_Name":{"runAfter":{"Initialize_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"First Name","type":"String","value":"@{null}"}]}},"Initialize_Last_Name":{"runAfter":{"Initialize_First_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Last Name","type":"String","value":"@{null}"}]}},"Initialize_Name":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Name","type":"String","value":"@{null}"}]}},"Initialize_Street_1":{"runAfter":{"Initialize_Street_Line":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Street 1","type":"String","value":"@{null}"}]}},"Initialize_Street_2":{"runAfter":{"Initialize_Street_1":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Street 2","type":"String","value":"@{null}"}]}},"Initialize_Street_3":{"runAfter":{"Initialize_Street_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Street 3","type":"String","value":"@{null}"}]}},"Initialize_Street_Line":{"runAfter":{"Initialize_Last_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Street Line","type":"String","value":"@{null}"}]}},"Initialize_Phone_Type":{"runAfter":{"Initialize_Street_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Phone Type","type":"String","value":"@{null}"}]}},"Initialize_Mobile_Phone":{"runAfter":{"Initialize_Phone_Type":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mobile Phone","type":"String","value":"@{null}"}]}},"Initialize_Business_Phone":{"runAfter":{"Initialize_Mobile_Phone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Business Phone","type":"String","value":"@{null}"}]}},"Initialize_Home_Phone":{"runAfter":{"Initialize_Business_Phone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Home Phone","type":"String","value":"@{null}"}]}},"Initialize_Other_Phone":{"runAfter":{"Initialize_Home_Phone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Other Phone","type":"String","value":"@{null}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}