CDS.solutions/AutomotiveFlowsandCanvasApps/Extracts/Base/Workflows/RetrieveNewVehicles-1930D429-5060-E911-A957-000D3A3B9A2B.json
{"properties":{"connectionReferences":{"shared_dynamicscrmonline_4":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_dynamicscrmonline"}},"shared_dynamicscrmonline_2":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_dynamicscrmonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":30},"type":"Recurrence"}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://autoacceleratorfunctionapps.azurewebsites.net/api/VehicleDemo"}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"Vehicle":{"type":"array","items":{"type":"object","properties":{"Type":{"type":"string"},"ModelYear":{"type":"integer"},"Make":{"type":"string"},"Model":{"type":"string"},"ModelCode":{"type":"string"},"VIN":{"type":"string"},"Trim":{"type":"string"},"Doors":{"type":"integer"},"BodyStyle":{"type":"string"},"Transmission":{"type":"string"},"Odometer":{"type":"object","properties":{"Status":{"type":"string"},"Units":{"type":"string"},"Value":{"type":"integer"}}},"Color":{"type":"string"},"ColorCode":{"type":"integer"},"FuelType":{"type":"string"},"MPG":{"type":"number"},"Cylinders":{"type":"integer"},"Options":{"type":"array","items":{"type":"object","properties":{"OptionCode":{"type":"string"},"Description":{"type":"string"}},"required":["OptionCode","Description"]}},"DealerInfo":{"type":"object","properties":{"DealerName":{"type":"string"},"DealerCode":{"type":"string"},"StockNumber":{"type":"integer"},"InventoryInfo":{"type":"object","properties":{"DateInInventory":{"type":"string"},"DateInService":{"type":"string"},"DateOrdered":{"type":"string"},"DateDelivered":{"type":"string"},"SaleAccount":{"type":"string"},"InventoryAccount":{"type":"string"}}},"WarrantyInfo":{"type":"object","properties":{"WarrantyMonths":{"type":"integer"},"WarrantyOdometer":{"type":"object","properties":{"Units":{"type":"string"},"Value":{"type":"number"}}},"WarrantyDeductible":{"type":"integer"}}},"FinancialInfo":{"type":"object","properties":{"ListPrice":{"type":"object","properties":{"Currency":{"type":"string"},"Value":{"type":"number"}}},"VehicleCost":{"type":"object","properties":{"Currency":{"type":"string"},"Value":{"type":"number"}}},"PackAmount":{"type":"object","properties":{"Currency":{"type":"string"},"Value":{"type":"number"}}},"Holdback":{"type":"object","properties":{"Currency":{"type":"string"},"Value":{"type":"number"}}}}},"ServiceInfo":{"type":"object","properties":{"LastServiceDate":{"type":"string"},"NextServiceDate":{"type":"string"}}}}}},"required":["Type","ModelYear","Make","Model","ModelCode","VIN","Trim","Doors","BodyStyle","Transmission","Odometer","Color","ColorCode","FuelType","MPG","Cylinders","Options","DealerInfo"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['Vehicle']","actions":{"Device_Type":{"runAfter":{"Apply_to_each_4":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_4']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicetypes'))}/items","queries":{"$filter":"msauto_name eq 'Vehicle'","$top":1},"authentication":"@parameters('$authentication')"}},"Create_a_new_record":{"runAfter":{"Apply_to_each_10":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_4']['connectionId']"}},"method":"post","body":{"_msauto_devicestateid_value":"@variables('Device State')","_msauto_devicetypeid_value":"@variables('Device Type')","msauto_name":"@{items('Apply_to_each')?['ModelYear']} @{items('Apply_to_each')?['Model']}","msauto_chassisnumber":"@{substring(variables('VIN'), sub(length(variables('VIN')), 6), 6)}","_msauto_devicebrandid_value":"@variables('Device Brand')","_msauto_devicegenerationid_value":"@variables('Device Generation')","_msauto_devicemodelid_value":"@variables('Device Model')","_msauto_devicemodelcodeid_value":"@variables('Device Model Code')","_msauto_devicestyleid_value":"@variables('Device Style')","_msauto_devicevariantid_value":"@variables('Device Variant')","msauto_listprice":"@items('Apply_to_each')?['DealerInfo']?['FinancialInfo']?['ListPrice']?['Value']","_ownerid_type":"","_statuscode_label":"","msauto_vendorsstocknumber":"@{items('Apply_to_each')?['DealerInfo']?['StockNumber']}","msauto_vin":"@items('Apply_to_each')?['VIN']","msauto_year":"@items('Apply_to_each')?['ModelYear']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devices'))}/items","authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@body('Device_Type')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Device Type","value":"@items('Apply_to_each_2')?['msauto_devicetypeid']"}}},"runAfter":{"Device_Type":["Succeeded"]},"type":"Foreach"},"Device_State":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_4']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicestates'))}/items","queries":{"$filter":"msauto_name eq '@{items('Apply_to_each')?['Type']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@body('Device_State')?['value']","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Device State","value":"@items('Apply_to_each_3')?['msauto_devicestateid']"}}},"runAfter":{"Device_State":["Succeeded"]},"type":"Foreach"},"Device_Style":{"runAfter":{"Set_VIN":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_2']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicestyles'))}/items","queries":{"$filter":"msauto_name eq '@{items('Apply_to_each')?['BodyStyle']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@body('Device_Style')?['value']","actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Device Style","value":"@items('Apply_to_each_4')?['msauto_devicestyleid']"}}},"runAfter":{"Device_Style":["Succeeded"]},"type":"Foreach"},"Device_Model":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_4']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicemodels'))}/items","queries":{"$filter":"msauto_name eq '@{items('Apply_to_each')?['Model']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_6":{"foreach":"@body('Device_Model')?['value']","actions":{"Set_variable_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Device Model","value":"@items('Apply_to_each_6')?['msauto_devicemodelid']"}}},"runAfter":{"Device_Model":["Succeeded"]},"type":"Foreach"},"Device_Variant":{"runAfter":{"Apply_to_each_6":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_4']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicevariants'))}/items","queries":{"$filter":"msauto_name eq '@{items('Apply_to_each')?['Trim']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_7":{"foreach":"@body('Device_Variant')?['value']","actions":{"Set_variable_6":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Device Variant","value":"@items('Apply_to_each_7')?['msauto_devicevariantid']"}}},"runAfter":{"Device_Variant":["Succeeded"]},"type":"Foreach"},"Device_Brand":{"runAfter":{"Apply_to_each_7":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_4']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicebrands'))}/items","queries":{"$filter":"msauto_name eq '@{items('Apply_to_each')?['Make']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_9":{"foreach":"@body('Device_Brand')?['value']","actions":{"Set_variable_8":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Device Brand","value":"@items('Apply_to_each_9')?['msauto_devicebrandid']"}}},"runAfter":{"Device_Brand":["Succeeded"]},"type":"Foreach"},"Device_Model_Code":{"runAfter":{"Apply_to_each_9":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_4']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org04ac47dc.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicemodelcodes'))}/items","queries":{"$filter":"msauto_name eq '@{items('Apply_to_each')?['ModelCode']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_10":{"foreach":"@body('Device_Model_Code')?['value']","actions":{"Set_variable_9":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Device Model Code","value":"@items('Apply_to_each_10')?['msauto_devicemodelcodeid']"}}},"runAfter":{"Device_Model_Code":["Succeeded"]},"type":"Foreach"},"Clear_Device_Class":{"runAfter":{"Create_a_new_record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Class","value":"@{null}"}},"Clear_Device_Style":{"runAfter":{"Clear_Device_Class":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Style","value":"@{null}"}},"Clear_Device_Generation":{"runAfter":{"Clear_Device_Style":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Generation","value":"@{null}"}},"Clear_Device_Type":{"runAfter":{"Clear_Device_Generation":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Type","value":"@{null}"}},"Clear_Device_State":{"runAfter":{"Clear_Device_Type":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device State","value":"@{null}"}},"Clear_Device_Model":{"runAfter":{"Clear_Device_State":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Model","value":"@{null}"}},"Clear_Device_Variant":{"runAfter":{"Clear_Device_Model":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Variant","value":"@{null}"}},"Clear_Device_Brand":{"runAfter":{"Clear_Device_Variant":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Brand","value":"@{null}"}},"Clear_Device_Model_Code":{"runAfter":{"Clear_Device_Brand":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Device Model Code","value":"@{null}"}},"Set_VIN":{"runAfter":{},"type":"SetVariable","inputs":{"name":"VIN","value":"@items('Apply_to_each')?['VIN']"}}},"runAfter":{"Initialize_VIN":["Succeeded"]},"type":"Foreach"},"Initialize_Device_Type":{"runAfter":{"Initialize_Device_Generation":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Type","type":"String","value":"@{null}"}]}},"Initialize_Device_State":{"runAfter":{"Initialize_Device_Type":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device State","type":"String","value":"@{null}"}]}},"Initialize_Device_Style":{"runAfter":{"Initialize_Device_Class":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Style","type":"String","value":"@{null}"}]}},"Initialize_Device_Generation":{"runAfter":{"Initialize_Device_Style":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Generation","type":"String","value":"@{null}"}]}},"Initialize_Device_Class":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Class","type":"String","value":"@{null}"}]}},"Initialize_Device_Model":{"runAfter":{"Initialize_Device_State":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Model","type":"String","value":"@{null}"}]}},"Initialize_Device_Variant":{"runAfter":{"Initialize_Device_Model":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Variant","type":"String","value":"@{null}"}]}},"Initialize_Device_Brand":{"runAfter":{"Initialize_Device_Variant":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Brand","type":"String","value":"@{null}"}]}},"Initialize_Device_Model_Code":{"runAfter":{"Initialize_Device_Brand":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Device Model Code","type":"String","value":"@{null}"}]}},"Initialize_VIN":{"runAfter":{"Initialize_Device_Model_Code":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VIN","type":"String","value":"@{null}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}