CDS.solutions/AutomotiveFlowsandCanvasApps/Extracts/Base/Workflows/RetrieveNewProspects-7A71BD66-BF5F-E911-A953-000D3A3B9B3D.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{}}}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://oxloautomotiveaccelerator.azurewebsites.net/api/LeadGenerator","queries":{"UserName":"OXLOuser","ReturnFormat":"json","NumOfLeads":"5"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"Prospect":{"type":"array","items":{"type":"object","properties":{"Id":{},"RequestDate":{"type":"string"},"Vehicle":{},"Customer":{"type":"object","properties":{"Contact":{"type":"object","properties":{"Name":{"type":"object","properties":{"Part":{"type":"string"},"Type":{"type":"string"},"Value":{"type":"string"}}},"Email":{"type":"object","properties":{"PreferredContact":{"type":"string"},"Value":{"type":"string"}}},"Phone":{"type":"array","items":{"type":"object","properties":{"Type":{"type":"string"},"TimeOfDay":{"type":"string"},"PreferredContact":{"type":"string"},"Value":{"type":"string"}},"required":["Type","TimeOfDay","PreferredContact","Value"]}},"Address":{"type":"object","properties":{"Street":{"type":"array","items":{"type":"object","properties":{"Line":{"type":"string"},"Value":{"type":"string"}},"required":["Line","Value"]}},"Apartment":{},"City":{"type":"string"},"StateOrProvince":{"type":"string"},"PostalCode":{"type":"string"},"Country":{"type":"string"},"Type":{"type":"string"}}},"PrimaryContact":{"type":"string"}}},"Id":{"type":"object","properties":{"Sequence":{"type":"string"},"Source":{"type":"string"},"Value":{"type":"string"}}},"Timeframe":{"type":"object","properties":{"Description":{"type":"string"},"EarliestDate":{"type":"string"},"LatestDate":{"type":"string"}}},"Comments":{"type":"string"}}},"Vendor":{},"Provider":{},"StatusSpecified":{"type":"boolean"}},"required":["Id","RequestDate","Vehicle","Customer","Vendor","Provider","StatusSpecified"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['Prospect']","actions":{"Switch":{"runAfter":{"Set_Name":["Succeeded"]},"cases":{"Case":{"case":"Full","actions":{"Set_First_Name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"First Name","value":"@{first(split(variables('Name'), ' '))}"}},"Set_Last_Name":{"runAfter":{"Set_First_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Last Name","value":"@{last(split(variables('Name'), ' '))}"}}}},"Case_2":{"case":"First","actions":{"Set_First_Only":{"runAfter":{},"type":"SetVariable","inputs":{"name":"First Name","value":"@variables('Name')"}}}},"Case_3":{"case":"Last","actions":{"Set_Last_Only":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Last Name","value":"@variables('Name')"}}}}},"default":{"actions":{}},"expression":"@items('Apply_to_each')?['Customer']?['Contact']?['Part']","type":"Switch"},"Set_Name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Name","value":"@{items('Apply_to_each')?['Customer']?['Contact']?['Name']}"}},"Clear_Name":{"runAfter":{"Create_a_new_record_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Name","value":"@{null}"}},"Clear_First_Name":{"runAfter":{"Clear_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"First Name","value":"@{null}"}},"Clear_Last_Name":{"runAfter":{"Clear_First_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Last Name","value":"@{null}"}},"Create_a_new_record_2":{"runAfter":{"Switch":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"lastname":"@variables('Last Name')","subject":"@variables('Name')","emailaddress1":"@{items('Apply_to_each')?['Customer']?['Contact']?['Email']}","firstname":"@variables('First Name')","mobilephone":"@{items('Apply_to_each')?['Customer']?['Contact']?['Phone']}","merged":false,"address1_city":"@{items('Apply_to_each')?['Customer']?['Contact']?['Address']?['City']}","confirminterest":false,"decisionmaker":false,"donotbulkemail":false,"donotemail":false,"donotfax":false,"donotpostalmail":false,"donotphone":false,"evaluatefit":false,"followemail":true,"msdyn_gdproptout":false,"msauto_isresent":false,"donotsendmm":false,"participatesinworkflow":false,"address1_line1":"@{items('Apply_to_each')?['Customer']?['Contact']?['Address']?['']}","_customerid_type":"","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_Last_Name":["Succeeded"]},"type":"Foreach"},"Initialize_First_Name":{"runAfter":{"Initialize_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"First Name","type":"String","value":"@{null}"}]}},"Initialize_Last_Name":{"runAfter":{"Initialize_First_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Last Name","type":"String","value":"@{null}"}]}},"Initialize_Name":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Name","type":"String","value":"@{null}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}