CDS.solutions/AutomotiveFlowsandCanvasApps/Extracts/Base/Workflows/SendQRCodewhenServiceAppointmentFeedbackisReceived-95EBDABE-D257-E911-A955-000D3A3B9316.json
{"properties":{"connectionReferences":{"shared_microsoftforms":{"source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_sendmail":{"source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Service_Appointment_Feedback_is_Received":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('hBptCWDVoE-0H-iNHk48ruBHeigMXcZIgigKAd--tYJURU9BNVRDNkZPRUgwNVRLODRNT1BNNDlVRS4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerBody()?['value']","actions":{"Retrieve_Survey_Response":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('hBptCWDVoE-0H-iNHk48ruBHeigMXcZIgigKAd--tYJURU9BNVRDNkZPRUgwNVRLODRNT1BNNDlVRS4u')}')/responses","queries":{"response_id":"@items('Apply_to_each')?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sendmail']['connectionId']"}},"method":"post","body":{"to":"@{body('Retrieve_Survey_Response')?['responder']};","subject":"QR Code Available.","text":"<p>Hello,</p>\n<p>Thank you for providing feedback on your latest Service Appointment.  For your participation, you can find a coupon for a free car wash in the <a href=\"https://web.powerapps.com/apps/a6c37bc1-4654-4c78-827e-3d134cedf120\">End User App</a>.</p>\n<p>Thanks again!</p>","ishtml":true},"path":"/mail/send","authentication":"@parameters('$authentication')"}}},"runAfter":{"Retrieve_Survey_Response":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@body('Retrieve_Survey_Response')?['responder']","@null"]}},{"not":{"equals":["@body('Retrieve_Survey_Response')?['responder']",""]}}]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}