CDS.solutions/AutomotiveFlowsandCanvasApps/Extracts/Base/Workflows/SendSurveyonCompletedServiceAppointment-A39F3058-C157-E911-A957-000D3A3B9A2B.json
{"properties":{"connectionReferences":{"shared_microsoftformspro_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_microsoftformspro"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Service_Appointment's_Status_Reason_Changes":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnUpdatedItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}","AttributeFilters":["statuscode"]},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_serviceappointments'))}/onupdateditemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Status_Reason_is_Completed":{"actions":{"This_action_sends_a_survey_to_a_specified_list_of_recipients":{"runAfter":{"Retrieve_User":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"sendSurvey"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftformspro_1']['connectionId']"}},"method":"post","body":{"Service Date":"@triggerBody()?['msauto_scheduledstart']"},"path":"/api/sendmail/flow","queries":{"to":"ethan.hirsch@ey.com","FormId":"hBptCWDVoE-0H-iNHk48ruBHeigMXcZIgigKAd--tYJURU9BNVRDNkZPRUgwNVRLODRNT1BNNDlVRS4u","EmailTemplateId":"9eaaf5a6-24f0-4454-8e0d-fbfc1a04a2e9","Regarding":"msauto_serviceappointment,@{triggerBody()?['msauto_serviceappointmentid']}","RecipientInfo":"systemuser,@{triggerBody()?['_createdby_value']}","firstName":"Ethan","lastName":"Hirsch"},"authentication":"@parameters('$authentication')"}},"Retrieve_User":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_createdby_value']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['statuscode']",2]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}