CDS.solutions/AutomotiveFlowsandCanvasApps/Extracts/Base/Workflows/WhenaServiceAppointmentiscreated-GetDevice-06F65AA7-2157-E911-A957-000D3A3B9A2B.json
{"properties":{"connectionReferences":{"shared_dynamicscrmonline_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_dynamicscrmonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Service_Appointment_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_serviceappointments'))}/onnewitems","authentication":"@parameters('$authentication')"}}},"actions":{"Get_Device":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devices'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_msauto_deviceid_value']))}","authentication":"@parameters('$authentication')"}},"Initialize_Make":{"runAfter":{"Get_Device":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Make","type":"String"}]}},"Initialize_Model":{"runAfter":{"Initialize_Make":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Model","type":"String"}]}},"Initialize_Year":{"runAfter":{"Initialize_Model":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Year","type":"String"}]}},"IF_Device_has_Brand,_Model,_and_Year":{"actions":{"Get_Brand":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicebrands'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Device')?['_msauto_devicebrandid_value']))}","authentication":"@parameters('$authentication')"}},"Get_Model":{"runAfter":{"Get_Brand":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_devicemodels'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Device')?['_msauto_devicemodelid_value']))}","authentication":"@parameters('$authentication')"}},"Set_Make_from_Record":{"runAfter":{"Get_Model":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Make","value":"@body('Get_Brand')?['msauto_name']"}},"Set_Model_from_Record":{"runAfter":{"Set_Make_from_Record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Model","value":"@body('Get_Model')?['msauto_name']"}},"Set_Year_from_Record":{"runAfter":{"Set_Model_from_Record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Year","value":"@{body('Get_Device')?['msauto_year']}"}}},"runAfter":{"Initialize_Recall_Summary":["Succeeded"]},"else":{"actions":{"IF_Device_has_VIN":{"actions":{"HTTP_-_Vehicle_lookup":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://vpic.nhtsa.dot.gov/api/vehicles/decodevinvalues/@{body('Get_Device')?['msauto_vin']}?format=json"}},"Parse_JSON_-_Vehicle_lookup":{"runAfter":{"HTTP_-_Vehicle_lookup":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Vehicle_lookup')","schema":{"type":"object","properties":{"Count":{"type":"integer"},"Results":{"type":"array","items":{"type":"object","properties":{"Make":{"type":"string"},"Model":{"type":"string"},"ModelYear":{"type":"string"}},"required":["Make","Model","ModelYear"]}}}}}},"For_each_result_(should_be_only_one)":{"foreach":"@body('Parse_JSON_-_Vehicle_lookup')?['Results']","actions":{"Set_Make_from_JSON":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Make","value":"@items('For_each_result_(should_be_only_one)')?['Make']"}},"Set_Model_from_JSON":{"runAfter":{"Set_Make_from_JSON":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Model","value":"@items('For_each_result_(should_be_only_one)')?['Model']"}},"Set_Year_from_JSON":{"runAfter":{"Set_Model_from_JSON":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Year","value":"@items('For_each_result_(should_be_only_one)')?['ModelYear']"}}},"runAfter":{"Parse_JSON_-_Vehicle_lookup":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"1","message":"Device must have a Brand, Model and Year or a VIN to look up Recall data."}}}}},"expression":{"not":{"equals":["@body('Get_Device')?['msauto_vin']","@null"]}},"type":"If"}}},"expression":{"and":[{"not":{"equals":["@body('Get_Device')?['_msauto_devicebrandid_value']","@null"]}},{"not":{"equals":["@body('Get_Device')?['_msauto_devicemodelid_value']","@null"]}},{"not":{"equals":["@body('Get_Device')?['msauto_year']","@null"]}}]},"type":"If"},"HTTP_-_Recalls":{"runAfter":{"IF_Device_has_Brand,_Model,_and_Year":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://one.nhtsa.gov/webapi/api/Recalls/vehicle/modelyear/@{variables('Year')}/make/@{variables('Make')}/model/@{variables('Model')}?format=json"}},"Parse_JSON_-_Recalls":{"runAfter":{"HTTP_-_Recalls":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Recalls')","schema":{"type":"object","properties":{"Count":{"type":"integer"},"Message":{"type":"string"},"Results":{"type":"array","items":{"type":"object","properties":{"Manufacturer":{"type":"string"},"NHTSACampaignNumber":{"type":"string"},"ReportReceivedDate":{"type":"string"},"Component":{"type":"string"},"Summary":{"type":"string"},"Conequence":{"type":"string"},"Remedy":{"type":"string"},"Notes":{"type":"string"},"ModelYear":{"type":"string"},"Make":{"type":"string"},"Model":{"type":"string"}},"required":["Manufacturer","NHTSACampaignNumber","ReportReceivedDate","Component","Summary","Conequence","Remedy","Notes","ModelYear","Make","Model"]}}}}}},"IF_Recalls_found_for_Device":{"actions":{"Update_a_record":{"runAfter":{"Get_summary_from_last_recall_in_list_(approx._most_recent)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"patch","body":{"_msauto_customerid_type":"","_ownerid_type":"","_statecode_label":"","_statuscode_label":""},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_serviceappointments'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['msauto_serviceappointmentid']))}","authentication":"@parameters('$authentication')"}},"Get_summary_from_last_recall_in_list_(approx._most_recent)":{"foreach":"@body('Parse_JSON_-_Recalls')?['Results']","actions":{"Set_Recall_Summary":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Recall Summary","value":"@items('Get_summary_from_last_recall_in_list_(approx._most_recent)')?['Summary']"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Parse_JSON_-_Recalls":["Succeeded"]},"else":{"actions":{"Update_a_record_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"patch","body":{"_msauto_customerid_type":"","_ownerid_type":"","_statecode_label":"","_statuscode_label":""},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('org60a70361.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msauto_serviceappointments'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['msauto_serviceappointmentid']))}","authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@body('Parse_JSON_-_Recalls')?['Count']",0]},"type":"If"},"Initialize_Recall_Summary":{"runAfter":{"Initialize_Year":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Recall Summary","type":"String"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}